services:
  backend:
    build: ./api
    container_name: backend-api
    ports:
      - "5000:5000"
    volumes:
      - db-data:/app/fsjstd-restapi.db
    networks:
      - app-network

  frontend:
    build: ./client
    container_name: frontend-react
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
